body {
  width: 500px;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
}

h1 {
  color: rgb(224 60 14);
  letter-spacing: 3px;
  font-size: 20px;
  padding-left: 130px;
}

input {
  height: 40px;
  width: 450px;
  margin-bottom: 16px;
  border-radius: 5px;
  border-color: rgb(236 232 232);
}

label {
  font-size: 10px;
}

select {
  height: 40px;
  width: 450px;
  background-color: rgb(240 240 240);
  border-radius: 5px;
}

button {
  margin-top: 10px;
  border-radius: 20px;
  background-color: rgb(224 60 14);
  color: white;
  border: rgb(224 60 14);
  padding: 8px 15px;
  margin-left: 360px;
}
