button {
  font-size: 20px;
  padding: 14px;
}

button:hover {
  background-color: black;
  color: white;
}

tr:nth-child(odd) {
  background-color: lightgrey;
}

th:nth-child(-n + 3) {
  background-color: black;
  color: white;
}
