* {
  box-sizing: border-box;
  font-family: Karla, sans-serif;
}

header {
  height: 150px;
  text-align: center;
  margin: 50px;
}

footer {
  height: 100px;
  text-align: center;
  padding: 50px;
}

body {
  width: 900px;
  margin: 0 auto;
}

h1 {
  letter-spacing: 5px;
  height: 40px;
  font-size: 50px;
}

h3 {
  font-size: 14px;
}

h4,
p {
  color: rgb(101 98 98);
  font-size: 13px;
}

.row {
  display: flex;
}

.column {
  display: flex;
  flex-basis: calc(100%/2);
  justify-content: center;
}

.column > img {
  position: relative;
}

.logo {
  bottom: 10px;
}

.text-info {
  flex-basis: 60%;
  line-height: 2;
}

.btn {
  border-color: rgb(176 49 3);
  background-color: white;
  font-size: 15px;
  width: 175px;
  height: 40px;
  border: 2px solid;
}
